absl-py 
astor==0.8.1
certifi==2020.6.20
cloudpickle
cycler==0.10.0
cytoolz==0.11.0
dask
decorator==4.4.2
gast
google-pasta==0.2.0
grpcio
h5py==2.8.0
imageio
importlib-metadata
Keras-Applications
Keras-Preprocessing==1.1.0
kiwisolver
Markdown
matplotlib
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
msgpack-numpy==0.4.7.1
networkx
nibabel==3.2.0
numpy
olefile==0.46
packaging==20.4
Pillow
protobuf==3.13.0
psutil==5.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets
PyYAML==5.3.1
pyzmq==19.0.2
scikit-image==0.17.2
scipy
SimpleITK==2.0.1
six
tabulate==0.8.7
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorpack==0.10.1
termcolor==1.1.0
tifffile==2020.10.1
toolz
tornado==6.0.4
tqdm==4.51.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp
